* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    /* position: relative; */
    width: 100%;
    height: 17vh;
    background-color: #FFCC00;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #FF3131;
}

.links {
    display: flex;
    gap: 3rem;
    margin-right: 9vw;
    margin-top: 7vh;

}

.links a {
    text-decoration: none;
    font-size: 1.2rem;
    color: red;
}

.links a:hover,
.links a:active {
    text-decoration: 2px underline;
}

.logo {
    margin-left: 9vw;
}

.slider {
    width: 100vw;
    height: 80vh;
   
    margin: 0.5rem 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

/*Main-section*/
.main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.main-text {
    width: 48vw;
    height: 60vh;
    margin: 0.5rem;
}

.img1 img {
    width: 48vw;
    height: 60vh;
}

.img2 img {
    width: 48vw;
    height: 60vh;
}

.story {
    text-align: center;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    margin: 1.5rem 0;
}

.main-text p {

    text-align: left;
    color: #7d7b7b;
    padding: 0 1.5rem;
    line-height: 1.5rem;


}

.subheading {
    text-align: center;
    font-size: 2rem;
    margin: 1.5rem 0;
}

/*Contact*/
.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.contact h2 {
    text-align: center;
    font-size: 3rem;
    padding: 2.2rem;

}

.contact p {
    text-align: center;
    font-size: 1.1rem;
    color: #7d7b7b;
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

form label {
    display: block;
    text-align: left;
    font-size: 1rem;
    color: #7d7b7b;
    margin-top: 1.2rem;
    
}


form input {
    width: 70vw;
    height: 8vh;
    background-color: #f1f1f1;
    border: 1px solid #c3c3c3;
    border-radius: 2px;

}

form .option {
    width: 70vw;
    display: flex;
    flex-direction: column;

}

form .option input {
    width: 20vw;
    border-radius: 15px;

}

form textarea {
    width: 70vw;
    height: 35vh;
    background-color: #f1f1f1;
    border: 1px solid #c3c3c3;
    
    margin-top: 1.2rem;
    border-radius: 2px;
    
}

.button {
    display: flex;
    justify-content: flex-start;
    width: 70vw;
    padding-left: 1rem;
    padding-top: 1rem;
}

button {
    padding: 0.5rem 1rem;
}

/* footer */
.footer {
    height: 30vh;
    width: 100vw;
    background-color: #FFCC00;
    margin-top: 2rem;
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;


}
.footer p{
    font-size: 1.2rem;
    font-weight: 500;
}
.footer h3{
    margin: 5vh 0;
}
.footer .footer-links{
   display: flex;
   gap: 1rem;
}
.footer .footer-links a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #FF3131;
    font-weight: 600;
}
.footer .footer-links a:hover,
.footer .footer-links a:active{
 text-decoration: 2px underline;
}
.privacy{
    text-decoration: none;
    font-size: 1.2rem;
    color: #FF3131;
    font-weight: 600;
}
.privacy:hover,
.privacy:active{
    text-decoration: 2px underline;
}
.header i{
    display: none;
}
.respo-nav{
    display: none;
}

/* Media Quaries */
@media screen and (max-width:575px) {
    .links{
        display: none;
    }
    .header i{
        display: initial;
        position: absolute;
        top: 6vh;
        right: 10vw;
        
        font-size: 1.5rem;
    }
    .respo-nav{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        position: absolute;

        width: 100vw;
        height: 100vh;
        background-color: #FFCC00;
        z-index: 5;
        padding-top: 20vh;
        padding-left: 5vw;
        top: -100%;
    }
    .respo-nav a{
        text-decoration: none;
        color:#FF3131 ;
        font-weight: 600;
        font-size: 1.2rem;

    }
    /* slider */
    .slider .swiper-slide img{
        width: 100vw;
        height: 65vh;
    }
    .story{
        font-size: 2.5rem;
    }
    /* main */
    .main{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .main-text{
        width: 95vw;
        height: 60vh;
        margin: 0.5rem;
    }
    .img1, .img2{
        width: 95vw;
        height: 70vh;
    }
    .img1 img, .img2 img{
        width: 95vw;
        height: 70vh;
        margin: 0.5rem;
        margin-bottom: 3rem;
    }
    /* contact */
    .contact .contact-p{
        width: 90vw;
        font-size: 0.8rem;
    }
    .contact h2{
        
        font-size: 2.5rem;
    }
    /*footer  */
    .footer{
        height: 45vh;
        text-align: center;
       
    }
    .footer p{
        font-size: 0.9rem;
        font-weight: 500;
        margin-top: 0.5rem;
    }
    .privacy{
        font-size: 0.9rem;
        font-weight: 600;
    }
    .privacy:hover,
    .privacy:active{
        display: none;
    }
    .footer h3{
     margin: 0.4rem 0;
    }

    .footer .footer-links a:hover,
    .footer .footer-links a:active{
     text-decoration: none;
     }
    

}